.chart-buttons {
    margin: 50px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.chart-buttons button {
    margin-right: 10px;
    width: 120px;
    height: 60px;
    border-radius: 10px;
    background-color: #97cef3;
    color: #000;
    border: 2px solid #5a9fd6;
    transition: all 0.3s ease;
    cursor: pointer;
}

.chart-buttons button:hover {
    background-color: #5a9fd6;
    border-color: #3c7fb1;
    transform: scale(1.1);
}

.chart-buttons button:active {
    background-color: #3c7fb1;
    transform: scale(0.95);
}