.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.container-buttons-empresas {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform: translateY(40%);
}

.container-buttons-empresas button {
  width: 150px;
  height: 100%;
  margin: 5% 0;
  border-radius: 5px;
  background-color: #79c7eb;
  box-shadow: 2px 2px 8px rgba(1, 1, 1, 1);
}

.content-bag {
  flex: 1;
  /* Ocupa el espacio restante del layout */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2% 1%;
  height: 100%;
}

.content-variability {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  flex-wrap: wrap;
}

.title h2 {
  color: #1e3a8a;
  transition: color 0.3s ease;
}

.content-variability h1 {
  color: #202630;
  font-weight: bold;
  font-size: 2.775rem;
  margin-right: 2%;
  transition: color 0.3s ease;
}

.content-variability h3,
.content-variability i {
  color: #03a66d;
}

.open-close-bag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 8px;
  background-color: #f4f4f4;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.open-close-bag i {
  margin-right: 10px;
  font-size: 24px;
  transition: color 0.3s ease;
}

.open-close-bag p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: inherit;
  text-align: center;
  padding: 0 10px;
}

@media (min-width: 768px) {
  .content-variability {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .content-variability {
    width: 75%;
  }
}