.container-app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* Evitar scroll en el contenedor principal */
}

.layout {
    display: flex;
    flex: 1;
}

.content {
    flex: 1;
    overflow-y: auto;
    height: 100vh;
}