.sidebar-title {
    font-weight: bold;
    /* Negrita para resaltar como título */
    font-size: 1.2rem;
    /* Tamaño adecuado para sidebar */
    color: var(--bs-body-color);
    /* Color dinámico según el modo (light/dark) */
    text-transform: uppercase;
    /* Mayúsculas para darle énfasis */
    letter-spacing: 1px;
    /* Espacio entre letras para estilo moderno */
    padding: 0.5rem 0;
    /* Espacio interno arriba y abajo */
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    /* Línea sutil de separación */
    width: 100%;
    /* Abarca todo el ancho del contenedor */
    text-align: center;
    /* Centrado para buena presentación */
    transition: color 0.3s ease;
    /* Transición suave para cambio de modo */
}

/* Estilo del ul y sus elementos li */
.rounded-list {
    /* border: 2px solid black; */
    /* border-radius: 10px; */
    margin-top: 5px;
    padding: 10px;
    list-style: none;
    /* width: 100%; */
    /* Abarca todo el contenedor */
}

.nav-item {
    margin-bottom: 10%;
}

ul{
    width: 100%;
}

/* Estilo de los li en modo claro */
.nav-item i,
span {
    color: var(--bs-body-color);
    /* Color dinámico según el modo (light/dark) */
    transition: color 0.3s ease;
    /* Transición suave */
}

/* Estilo de los li en modo oscuro */
@media (prefers-color-scheme: dark) {
    .sidebar-title {
        border-bottom-color: rgba(255, 255, 255, 0.2);
    }
}

@media (min-width: 1200px) {
    .col-xl-6 {
        flex: 0 0 auto;
        width: 100% !important;
    }
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 100% !important;
    }
}