.container-fluid {
    height: 100%;
}

.sidebar-title {
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.5rem 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    transition: color 0.3s ease;
}

.rounded-list {
    margin-top: 5px;
    padding: 10px;
    list-style: none;
}

.nav-item {
    margin: 2% 0;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px 20px;
    width: 200px;
    text-align: center;
    background-color: #f6ddcc;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

ul {
    width: 100%;
}

.nav-item i,
span {
    color: var(--bs-body-color);
    transition: color 0.3s ease;
}

@media (min-width: 1200px) {
    .col-xl-6 {
        flex: 0 0 auto;
        width: 100% !important;
    }
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 100% !important;
    }
}

@media (min-width: 256) {
    .nav-item {
        margin: 10% 0;
    }
}