<div class="container-fluid bg-body-tertiary" id="container">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-2 pt-2 min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto sidebar-title">
                    <span class="fs-5 d-none d-sm-inline">Empresas</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start rounded-list"
                    id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-apple"></i> <span class="ms-1 d-none d-sm-inline">Apple Inc.</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-ev-front"></i> <span class="ms-1 d-none d-sm-inline">Tesla Inc.</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-bank"></i> <span class="ms-1 d-none d-sm-inline">JPMorgan Chase &
                                Co.</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-capsule"></i> <span class="ms-1 d-none d-sm-inline">Roche Holding
                                AG.</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-fuel-pump"></i> <span class="ms-1 d-none d-sm-inline">Shell plc.</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-credit-card-2-front"></i> <span class="ms-1 d-none d-sm-inline">Visa
                                Inc.</span> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-cart-check"></i> <span class="ms-1 d-none d-sm-inline">Walmart Inc.</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>