/* You can add global styles to this file, and also import other style files */
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Codigo que se comparte entre todos los componentes de las empresas y el home.
   puestos aca para evitar repeticiones 
   */
.content-bag {
  flex: 1;
  /* Ocupa el espacio restante del layout */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2% 1%;
  overflow-y: auto;
  /* Permitir scroll en el contenido */
}

.content-variability {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  flex-wrap: wrap;
}

.title h2 {
  color: #1e3a8a;
  transition: color 0.3s ease;
}

.content-variability h1 {
  color: #202630;
  font-weight: bold;
  font-size: 2.775rem;
  margin-right: 2%;
  transition: color 0.3s ease;
}

.content-variability h3,
.content-variability i {
  /* Si el valor baja */
  /* color: #E33B54; */
  /* Si el valor aumenta */
  color: #03a66d;
  /* font-weight: bold; */
}

.open-close-bag {
  display: flex;
  align-items: center;
}

.open-close-bag i {
  margin-right: 5px;
  /* Si el mercado esta abierto */
  color: #03a66d;
  /* Si el mercado esta cerrado */
  color: red;
  /* transition: color 0.3s ease; */
}

.open-close-bag p {
  margin: 0;
}

/* Se escribe de esta manera ya que permite manejar el mode de la pagina teniendo el control del mismo y permitiendo que el usuario lo cambie manualmente independientemende del mode del sistema operativo del usuario */
[data-bs-theme='dark'] .content-variability h1 {
  color: #eaecef;
}

[data-bs-theme='dark'] .title h2 {
  color: #fcd535;
  /* color: #eaecef; */
}

[data-bs-theme='dark'] .content-variability h3 {
  /* Si el valor aumenta */
  /* color: #0ecb81; */
  color: #2ebd85;
  /* Si el valor baja */
  /* color: #F6465D */
}

[data-bs-theme='dark'] .open-close-bag p {
  color: #adb5bd
}

@media (min-width: 768px) {
  .content-variability {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .content-variability {
    width: 75%;
  }
}