<div class="container-fluid bg-body-tertiary">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-6 col-xl-6 px-sm-2 px-0">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-2 pt-2 min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start rounded-list"
                    id="menu">
                    <li class="nav-item">
                        <button routerLink="/cotizaciones" class="nav-link align-middle px-0">
                            <span class="ms-1 d-inline">Cotizaciones</span>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button routerLink="/participacion" class="nav-link align-middle px-0">
                            <span class="ms-1 d-inline">Participación</span>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button routerLink="/indices" class="nav-link align-middle px-0">
                            <span class="ms-1 d-inline">Indices</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>